
.blob-bg {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuBepQNmDV_GmuFwi1ezYZ_RS6b7YMue8AYufyJy75rJwnVfwhcdrVrMs-iF2ppSTyrEvIhQ8iDfOcAqO7PDN2ldpXkN1MEhfjZ2MR1Br_8FJHDZqisl_RsGFVPJLOd50_ovWV-ly6VajAQOzsQAgEjzsH5VJWgOxifGZqVOszG3kAbvfJGsZF6W37nX8bhwzc5Gy5VLWIzJb9Vwl7T47hKM0VeCTG80sdp4L6lKASxJEQM4d0Usc8zV--pw9kb8nZpm16mJVp-UMfWq);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}